@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <h1>Welcome to Yfitpos</h1>
</div>

<p class="btn btn-dark">@Html.ActionLink("See All Podcasts", "Index", "Titles")</p>
<p class="btn btn-dark">@Html.ActionLink("See All Categories", "Index", "Categories")</p>