@{
  Layout = "_Layout";
}

@model Podcast.Models.Title;


<h2>Search A Podcast Name: </h2>
<hr>
<br>

@using (Html.BeginForm())
{
  <div class="form-group">
  @Html.TextBoxFor(model => model.PodcastName, new {@class = "form-control2", @required= "required"})
  </div>
  <br>
  <input type="submit" value="Search" class="btn btn-light"/>
}


<br>
<p class ="btn btn-light">@Html.ActionLink("Back to Podcasts", "Index", null, null, new {@style = "color:#e6c8a0"})</p>