@{
  Layout = "_Layout";
}

@model Podcast.Models.Category

<h4>Are you sure you want to delete this category?</h4>

<br>
<p class="delete">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" class="btn btn-light"/>
}
<br>
<p class="btn btn-light">@Html.ActionLink("Back to Categories", "Index", null, null, new { @style = "color:#e6c8a0"})</p>